In [1]:
import subprocess; result = subprocess.run(['pip3', 'install', 'ipython-autotime'], capture_output=True)
print(f"There was a problem installing the package.\nError output:\n{result.stderr.decode('utf-8')}") if result.returncode != 0 else print("Package installed successfully.")

Package installed successfully.

In [2]:
%load_ext autotime

time: 146 µs (started: 2024-04-04 11:13:31 -07:00)

In [3]:
import sys; source_directory = "/Users/pauljacob/Library/Python/3.9/lib/python/site-packages"; sys.path.append(source_directory)

time: 256 µs (started: 2024-04-04 11:13:31 -07:00)

In [4]:
import pandas as pd
import os


import time


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:99.9% !important; }</style>"))
pd.options.display.max_columns = 3999
pd.options.display.max_rows = 999

pd.set_option('display.max_colwidth', None)
pd.options.display.max_info_columns = 3999

/var/folders/77/y4hv4_s9751293nzv4yrfrtm0000gn/T/ipykernel_60174/3608242365.py:8: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

time: 845 ms (started: 2024-04-04 11:13:31 -07:00)

In [5]:
def generate_parent_paths_from(filename_path):
    components = filename_path.split(os.sep)
    parent_paths = [os.sep.join(components[:i+1]) for i in range(len(components))]
    return '/ '.join(parent_paths[2:])


def preview_df(df):
    """Of this DataFrame, prints the row and column count and then returns the concatenated first 5 and last % rows.

    Args:
        df (DataFrame): This pandas DataFrame object.
    Returns:
        df (DataFrame): The concatenated first 5 and last 5 rows of this pandas DataFrame.
    """
    if df.shape[0] > 9:
        print(df.shape)
        return pd.DataFrame(pd.concat([df.head(5), df.tail(5)]))
    else:
        return df


def preview_list(list_):
    """Print the list length and return the list.
    
    Args:
        list_ (list): The list object to return.
    
    Returns:
        list_ (list): The same list object.
    """
    print(len(list_))
    return list_



def filter_this_data_frame_by_column_name_and_value_list(df, column_name, value_list):
    return df.loc[df.loc[:, column_name].isin(value_list), :]


def occupy_the_kernel():
    time.sleep(1000000)

time: 771 µs (started: 2024-04-04 11:13:32 -07:00)

In [6]:

df_collection={}

#Read in Feature Definitions as a DataFrame
key='feature_definitions'
relative_filename_path=os.path.join("..", "data", "raw", str(key)+".csv")
df_collection[key]=pd.read_csv(relative_filename_path)

#Filter for Select (i.e. 'train_applprev_1_0') features
column_name_list=['case_id', 'actualdpd_943P', 'annuity_853A', 'approvaldate_319D', 'byoccupationinc_3656910L', 'cancelreason_3545846M', 'childnum_21L', 'creationdate_885D', 'credacc_actualbalance_314A', 'credacc_credlmt_575A', 'credacc_maxhisbal_375A', 'credacc_minhisbal_90A', 'credacc_status_367L', 'credacc_transactions_402L', 'credamount_590A', 'credtype_587L', 'currdebt_94A', 'dateactivated_425D', 'district_544M', 'downpmt_134A', 'dtlastpmt_581D', 'dtlastpmtallstes_3545839D', 'education_1138M', 'employedfrom_700D', 'familystate_726L', 'firstnonzeroinstldate_307D', 'inittransactioncode_279L', 'isbidproduct_390L', 'isdebitcard_527L', 'mainoccupationinc_437A', 'maxdpdtolerance_577P', 'num_group1', 'outstandingdebt_522A', 'pmtnum_8L', 'postype_4733339M', 'profession_152M', 'rejectreason_755M', 'rejectreasonclient_4145042M', 'revolvingaccount_394A', 'status_219L', 'tenor_203L']
df_variable_description=filter_this_data_frame_by_column_name_and_value_list(df=df_collection['feature_definitions'], column_name='Variable', value_list=column_name_list)
print(df_variable_description.shape)
df_variable_description

(39, 2)

,Variable,Description
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actual).
18,annuity_853A,Monthly annuity for previous applications.
26,approvaldate_319D,Approval Date of Previous Application
43,byoccupationinc_3656910L,Applicant's income from previous applications.
45,cancelreason_3545846M,Application cancellation reason.
48,childnum_21L,Number of children in the previous application.
92,creationdate_885D,Date when previous application was created.
93,credacc_actualbalance_314A,Actual balance on credit account.
95,credacc_credlmt_575A,Credit card credit limit provided for previous applications.
96,credacc_maxhisbal_375A,Maximal historical balance of previous credit account
97,credacc_minhisbal_90A,Minimum historical balance of previous credit accounts.
98,credacc_status_367L,Account status of previous credit applications.
99,credacc_transactions_402L,Number of transactions made with the previous credit account of the applicant.
100,credamount_590A,Loan amount or card limit of previous applications.
111,credtype_587L,Credit type of previous application.
113,currdebt_94A,Previous application's current debt.
115,dateactivated_425D,Contract activation date of the applicant's previous application.
142,district_544M,District of the address used in the previous loan application.
144,downpmt_134A,Previous application downpayment amount.
156,dtlastpmt_581D,Date of last payment made by the applicant.
157,dtlastpmtallstes_3545839D,Date of the applicant's last payment.
160,education_1138M,Applicant's education level from their previous application.
169,employedfrom_700D,Employment start date from the previous application.
177,familystate_726L,Family State in previous application of applicant.
182,firstnonzeroinstldate_307D,Date of first instalment in the previous application.
208,inittransactioncode_279L,Type of the initial transaction made in the previous application of the client.
220,isbidproduct_390L,Flag for determining if the product is a cross-sell in previous applications.
222,isdebitcard_527L,Previous application flag indicating if product being applied for is a debit card.
253,mainoccupationinc_437A,Client's main income amount in their previous application.
275,maxdpdtolerance_577P,Maximum DPD with tolerance (on previous application/s).
340,outstandingdebt_522A,Amount of outstanding debt on the client's previous application.
381,pmtnum_8L,Number of payments made for the previous application.
399,postype_4733339M,Type of point of sale.
403,profession_152M,Profession of the client during their previous loan application.
413,rejectreason_755M,Reason for previous application rejection.
414,rejectreasonclient_4145042M,Reason for rejection of the client's previous application.
428,revolvingaccount_394A,Revolving account that was present in the applicant's previous application.
439,status_219L,Previous application status.
448,tenor_203L,Number of instalments in the previous application.

time: 11.4 ms (started: 2024-04-04 11:13:32 -07:00)

In [8]:
filename_list = ['train_applprev_1_0.csv', 'train_applprev_1_1.csv', ]
relative_filename_path_list = [os.path.join("..", "data", "raw", "train", str(filename)) for filename in filename_list]

df_collection = {}
for index, filename in enumerate(filename_list):
    print('index: '+str(index))
    print('filename: '+str(filename))
    df_collection[filename.split('.csv')[0]]=pd.read_csv(relative_filename_path_list[index])

#combine the DataFrame's
df_collection['train_applprev_1']=pd.concat([df_collection['train_applprev_1_0'], df_collection['train_applprev_1_1']], axis=0)

del df_collection['train_applprev_1_0']
del df_collection['train_applprev_1_1']

preview_df(df_collection['train_applprev_1'])

index: 0
filename: train_applprev_1_0.csv

/var/folders/77/y4hv4_s9751293nzv4yrfrtm0000gn/T/ipykernel_60174/1387351570.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_collection[filename.split('.csv')[0]]=pd.read_csv(relative_filename_path_list[index])

index: 1
filename: train_applprev_1_1.csv

/var/folders/77/y4hv4_s9751293nzv4yrfrtm0000gn/T/ipykernel_60174/1387351570.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_collection[filename.split('.csv')[0]]=pd.read_csv(relative_filename_path_list[index])

(6525979, 41)

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,credacc_status_367L,credacc_transactions_402L,credamount_590A,credtype_587L,currdebt_94A,dateactivated_425D,district_544M,downpmt_134A,dtlastpmt_581D,dtlastpmtallstes_3545839D,education_1138M,employedfrom_700D,familystate_726L,firstnonzeroinstldate_307D,inittransactioncode_279L,isbidproduct_390L,isdebitcard_527L,mainoccupationinc_437A,maxdpdtolerance_577P,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,10000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,16000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,NaN,NaN,NaN,NaN,59999.8,CAL,NaN,NaN,P131_33_167,0.0,NaN,NaN,P97_36_170,2018-05-15,MARRIED,2019-02-07,CASH,False,NaN,11000.0,NaN,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
3,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,NaN,NaN,P194_82_174,0.0,NaN,NaN,a55475b1,NaN,NaN,2019-02-08,CASH,False,NaN,16000.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P54_133_26,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,False,NaN,62000.0,NaN,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN
2638290,2703453,0.0,2827.2,2019-12-18,NaN,a55475b1,NaN,2019-12-18,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,34550.855,2019-12-23,P123_6_84,0.0,NaN,2020-10-09,a55475b1,NaN,NaN,2020-01-18,CASH,False,NaN,50000.0,0.0,1,46806.6,30.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,A,30.0
2638291,2703453,0.0,3197.6,2014-08-15,33059.0,a55475b1,0.0,2014-08-15,179.424,0.0,398.02402,198.024,AC,14.0,60000.0,CAL,0.000,2014-08-15,P123_6_84,0.0,2018-08-07,2018-08-07,P97_36_170,NaN,MARRIED,2014-09-15,CASH,False,NaN,28000.0,33.0,5,0.0,48.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,48.0
2638292,2703453,0.0,5981.4,2018-11-14,NaN,a55475b1,NaN,2018-11-14,NaN,0.0,NaN,NaN,NaN,NaN,123800.0,CAL,0.000,2018-11-15,P123_6_84,0.0,2019-12-17,2019-12-17,a55475b1,NaN,NaN,2018-12-15,CASH,False,NaN,76000.0,0.0,2,0.0,30.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,30.0
2638293,2703454,0.0,2986.8,2020-06-21,NaN,a55475b1,NaN,2020-06-21,NaN,0.0,NaN,NaN,NaN,NaN,15998.0,COL,5631.406,2020-06-23,P48_127_19,0.0,NaN,2020-10-19,a55475b1,NaN,NaN,2020-07-21,POS,False,NaN,24000.0,0.0,0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0
2638294,2703454,0.0,6726.6,2019-08-01,NaN,a55475b1,NaN,2019-08-01,NaN,0.0,NaN,NaN,NaN,NaN,60000.0,CAL,0.000,2019-08-20,P48_127_19,0.0,2020-08-02,2020-08-02,P97_36_170,NaN,WIDOWED,2019-09-01,CASH,False,NaN,60000.0,0.0,1,0.0,12.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,K,12.0

time: 21.9 s (started: 2024-04-04 11:13:43 -07:00)

In [17]:
filename='train_base.csv'

relative_filename_path = os.path.join("..", "data", "raw", "train", filename)
df_collection[filename.split('.csv')[0]]=pd.read_csv(relative_filename_path)

preview_df(df_collection['train_base'])

# #1526659
# df_collection['train_base'].loc[:, 'case_id'].drop_duplicates()

(1526659, 5)

         case_id date_decision   MONTH  WEEK_NUM  target
0              0    2019-01-03  201901         0       0
1              1    2019-01-03  201901         0       0
2              2    2019-01-04  201901         0       0
3              3    2019-01-03  201901         0       0
4              4    2019-01-04  201901         0       1
1526654  2703450    2020-10-05  202010        91       0
1526655  2703451    2020-10-05  202010        91       0
1526656  2703452    2020-10-05  202010        91       0
1526657  2703453    2020-10-05  202010        91       0
1526658  2703454    2020-10-05  202010        91       0

time: 421 ms (started: 2024-04-04 11:21:34 -07:00)

In [16]:
df_collection['X_train_Y_train']=pd.merge(df_collection['train_applprev_1'], df_collection['train_base'], on='case_id')

del df_collection['train_applprev_1']
del df_collection['train_base']

preview_df(df_collection['X_train_Y_train'])

(6525979, 45)

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,credacc_status_367L,credacc_transactions_402L,credamount_590A,credtype_587L,currdebt_94A,dateactivated_425D,district_544M,downpmt_134A,dtlastpmt_581D,dtlastpmtallstes_3545839D,education_1138M,employedfrom_700D,familystate_726L,firstnonzeroinstldate_307D,inittransactioncode_279L,isbidproduct_390L,isdebitcard_527L,mainoccupationinc_437A,maxdpdtolerance_577P,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L,date_decision,MONTH,WEEK_NUM,target
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,10000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0,2019-01-04,201901,0,0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,16000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0,2019-01-04,201901,0,0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,NaN,NaN,NaN,NaN,59999.8,CAL,NaN,NaN,P131_33_167,0.0,NaN,NaN,P97_36_170,2018-05-15,MARRIED,2019-02-07,CASH,False,NaN,11000.0,NaN,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0,2019-01-03,201901,0,0
3,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,NaN,NaN,P194_82_174,0.0,NaN,NaN,a55475b1,NaN,NaN,2019-02-08,CASH,False,NaN,16000.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0,2019-01-04,201901,0,1
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P54_133_26,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,False,NaN,62000.0,NaN,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN,2019-01-02,201901,0,0
6525974,2703453,0.0,2827.2,2019-12-18,NaN,a55475b1,NaN,2019-12-18,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,34550.855,2019-12-23,P123_6_84,0.0,NaN,2020-10-09,a55475b1,NaN,NaN,2020-01-18,CASH,False,NaN,50000.0,0.0,1,46806.6,30.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,A,30.0,2020-10-05,202010,91,0
6525975,2703453,0.0,3197.6,2014-08-15,33059.0,a55475b1,0.0,2014-08-15,179.424,0.0,398.02402,198.024,AC,14.0,60000.0,CAL,0.000,2014-08-15,P123_6_84,0.0,2018-08-07,2018-08-07,P97_36_170,NaN,MARRIED,2014-09-15,CASH,False,NaN,28000.0,33.0,5,0.0,48.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,48.0,2020-10-05,202010,91,0
6525976,2703453,0.0,5981.4,2018-11-14,NaN,a55475b1,NaN,2018-11-14,NaN,0.0,NaN,NaN,NaN,NaN,123800.0,CAL,0.000,2018-11-15,P123_6_84,0.0,2019-12-17,2019-12-17,a55475b1,NaN,NaN,2018-12-15,CASH,False,NaN,76000.0,0.0,2,0.0,30.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,30.0,2020-10-05,202010,91,0
6525977,2703454,0.0,2986.8,2020-06-21,NaN,a55475b1,NaN,2020-06-21,NaN,0.0,NaN,NaN,NaN,NaN,15998.0,COL,5631.406,2020-06-23,P48_127_19,0.0,NaN,2020-10-19,a55475b1,NaN,NaN,2020-07-21,POS,False,NaN,24000.0,0.0,0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0,2020-10-05,202010,91,0
6525978,2703454,0.0,6726.6,2019-08-01,NaN,a55475b1,NaN,2019-08-01,NaN,0.0,NaN,NaN,NaN,NaN,60000.0,CAL,0.000,2019-08-20,P48_127_19,0.0,2020-08-02,2020-08-02,P97_36_170,NaN,WIDOWED,2019-09-01,CASH,False,NaN,60000.0,0.0,1,0.0,12.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,K,12.0,2020-10-05,202010,91,0

time: 3.5 s (started: 2024-04-04 11:21:13 -07:00)

44

['case_id',
 'actualdpd_943P',
 'annuity_853A',
 'approvaldate_319D',
 'byoccupationinc_3656910L',
 'cancelreason_3545846M',
 'childnum_21L',
 'creationdate_885D',
 'credacc_actualbalance_314A',
 'credacc_credlmt_575A',
 'credacc_maxhisbal_375A',
 'credacc_minhisbal_90A',
 'credacc_status_367L',
 'credacc_transactions_402L',
 'credamount_590A',
 'credtype_587L',
 'currdebt_94A',
 'dateactivated_425D',
 'district_544M',
 'downpmt_134A',
 'dtlastpmt_581D',
 'dtlastpmtallstes_3545839D',
 'education_1138M',
 'employedfrom_700D',
 'familystate_726L',
 'firstnonzeroinstldate_307D',
 'inittransactioncode_279L',
 'isbidproduct_390L',
 'isdebitcard_527L',
 'mainoccupationinc_437A',
 'maxdpdtolerance_577P',
 'num_group1',
 'outstandingdebt_522A',
 'pmtnum_8L',
 'postype_4733339M',
 'profession_152M',
 'rejectreason_755M',
 'rejectreasonclient_4145042M',
 'revolvingaccount_394A',
 'status_219L',
 'tenor_203L',
 'date_decision',
 'MONTH',
 'WEEK_NUM']

time: 5.37 ms (started: 2024-04-04 11:24:21 -07:00)

In [20]:
column_name_list_features=[column_name for column_name in df_collection['X_train_Y_train'].columns if not column_name in ['target']]

df_collection['X_train']=df_collection['X_train_Y_train'].loc[:, column_name_list_features]

df_collection['Y_train']=df_collection['X_train_Y_train'].loc[:, 'target']

del df_collection['X_train_Y_train']

preview_df(df_collection['X_train'])

(6525979, 44)

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,credacc_status_367L,credacc_transactions_402L,credamount_590A,credtype_587L,currdebt_94A,dateactivated_425D,district_544M,downpmt_134A,dtlastpmt_581D,dtlastpmtallstes_3545839D,education_1138M,employedfrom_700D,familystate_726L,firstnonzeroinstldate_307D,inittransactioncode_279L,isbidproduct_390L,isdebitcard_527L,mainoccupationinc_437A,maxdpdtolerance_577P,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L,date_decision,MONTH,WEEK_NUM
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,10000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0,2019-01-04,201901,0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,16000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0,2019-01-04,201901,0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,NaN,NaN,NaN,NaN,59999.8,CAL,NaN,NaN,P131_33_167,0.0,NaN,NaN,P97_36_170,2018-05-15,MARRIED,2019-02-07,CASH,False,NaN,11000.0,NaN,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0,2019-01-03,201901,0
3,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,NaN,NaN,P194_82_174,0.0,NaN,NaN,a55475b1,NaN,NaN,2019-02-08,CASH,False,NaN,16000.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0,2019-01-04,201901,0
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P54_133_26,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,False,NaN,62000.0,NaN,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN,2019-01-02,201901,0
6525974,2703453,0.0,2827.2,2019-12-18,NaN,a55475b1,NaN,2019-12-18,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,34550.855,2019-12-23,P123_6_84,0.0,NaN,2020-10-09,a55475b1,NaN,NaN,2020-01-18,CASH,False,NaN,50000.0,0.0,1,46806.6,30.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,A,30.0,2020-10-05,202010,91
6525975,2703453,0.0,3197.6,2014-08-15,33059.0,a55475b1,0.0,2014-08-15,179.424,0.0,398.02402,198.024,AC,14.0,60000.0,CAL,0.000,2014-08-15,P123_6_84,0.0,2018-08-07,2018-08-07,P97_36_170,NaN,MARRIED,2014-09-15,CASH,False,NaN,28000.0,33.0,5,0.0,48.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,48.0,2020-10-05,202010,91
6525976,2703453,0.0,5981.4,2018-11-14,NaN,a55475b1,NaN,2018-11-14,NaN,0.0,NaN,NaN,NaN,NaN,123800.0,CAL,0.000,2018-11-15,P123_6_84,0.0,2019-12-17,2019-12-17,a55475b1,NaN,NaN,2018-12-15,CASH,False,NaN,76000.0,0.0,2,0.0,30.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,30.0,2020-10-05,202010,91
6525977,2703454,0.0,2986.8,2020-06-21,NaN,a55475b1,NaN,2020-06-21,NaN,0.0,NaN,NaN,NaN,NaN,15998.0,COL,5631.406,2020-06-23,P48_127_19,0.0,NaN,2020-10-19,a55475b1,NaN,NaN,2020-07-21,POS,False,NaN,24000.0,0.0,0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0,2020-10-05,202010,91
6525978,2703454,0.0,6726.6,2019-08-01,NaN,a55475b1,NaN,2019-08-01,NaN,0.0,NaN,NaN,NaN,NaN,60000.0,CAL,0.000,2019-08-20,P48_127_19,0.0,2020-08-02,2020-08-02,P97_36_170,NaN,WIDOWED,2019-09-01,CASH,False,NaN,60000.0,0.0,1,0.0,12.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,K,12.0,2020-10-05,202010,91

time: 5.47 s (started: 2024-04-04 11:25:41 -07:00)

In [21]:
preview_df(df_collection['Y_train'])

(6525979,)

         target
0             0
1             0
2             0
3             1
4             0
6525974       0
6525975       0
6525976       0
6525977       0
6525978       0

time: 2.75 ms (started: 2024-04-04 11:25:47 -07:00)

In [10]:
column_name_list_masked=['cancelreason_3545846M', 'district_544M', 'education_1138M', 'postype_4733339M', 'profession_152M', 'rejectreason_755M', 'rejectreasonclient_4145042M']

time: 228 µs (started: 2024-04-04 11:14:05 -07:00)

In [11]:
34 #41-7

34

time: 860 µs (started: 2024-04-04 11:14:05 -07:00)

In [12]:
# dir()
# %who_ls
# %who_ls function
# %who_ls str

time: 291 µs (started: 2024-04-04 11:14:05 -07:00)

In [13]:
# locals()
# globals()

time: 140 µs (started: 2024-04-04 11:14:05 -07:00)