In [1]:
# Data Source: https://www.kaggle.com/competitions/home-credit-credit-risk-model-stability/data

In [ ]:
#link python site packages folder
import sys
source_directory = "/Users/pauljacob/Library/Python/3.9/lib/python/site-packages"
sys.path.append(source_directory)

In [2]:
import pandas as pd

def preview_df(df):
    """Of this DataFrame, prints the row and column count and then returns the concatenated first 5 and last % rows.

    Args:
        df (DataFrame): This pandas DataFrame object.
    Returns:
        df (DataFrame): The concatenated first 5 and last 5 rows of this pandas DataFrame.
    """
    if df.shape[0] > 9:
        print(df.shape)
        return pd.DataFrame(pd.concat([df.head(5), df.tail(5)]))
    else:
        return df

In [3]:
import pandas as pd
import os

In [4]:
filename = 'train_credit_bureau_a_1_0.csv'
relative_filename_path = os.path.join('..', 'data', 'raw', 'csv_files', 'train', filename)
df = pd.read_csv(relative_filename_path)
preview_df(df)

/var/folders/77/y4hv4_s9751293nzv4yrfrtm0000gn/T/ipykernel_48660/2203221005.py:3: DtypeWarning: Columns (11,12,14,30,44,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(relative_filename_path)

(4108212, 79)

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,388,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,135806.0,...,NaN,114325.805,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1,388,NaN,NaN,4408ff0f,a55475b1,7241344e,a55475b1,NaN,NaN,NaN,...,NaN,NaN,ab3c25cf,ab3c25cf,NaN,268897.62,0.0,0.0,374419.5,0.0
2,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
3,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4108207,2588481,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4108208,2588481,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4108209,2588481,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4108210,2588481,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4108211,2588481,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# import pyarrow.parquet as pq


# filename = 'train_credit_bureau_a_1_0.parquet'
# relative_filename_path = os.path.join('..', 'data', 'raw', 'parquet_files', 'train', filename)
# df_ = pq.read_table(relative_filename_path).to_pandas()

# preview_df(df_)

ImportError: dlopen(/Users/pauljacob/Library/Python/3.9/lib/python/site-packages/pyarrow/lib.cpython-39-darwin.so, 0x0002): tried: '/Users/pauljacob/Library/Python/3.9/lib/python/site-packages/pyarrow/lib.cpython-39-darwin.so' (mach-o file, but is an incompatible architecture (have 'arm64', need 'x86_64')), '/System/Volumes/Preboot/Cryptexes/OS/Users/pauljacob/Library/Python/3.9/lib/python/site-packages/pyarrow/lib.cpython-39-darwin.so' (no such file), '/Users/pauljacob/Library/Python/3.9/lib/python/site-packages/pyarrow/lib.cpython-39-darwin.so' (mach-o file, but is an incompatible architecture (have 'arm64', need 'x86_64'))